body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.scrambleBox {
  flex-direction: column;
}

.scramble {
  color: white;
  font-size: 30px;
}

.centered-section {
  text-align: center;
  flex: 2;
}

.timer-section {
  text-align: center;
  flex: 2;
  max-height: 200px;
}

.time {
  font-size: 100px;
  color: white;
}

ul {
  list-style: none;
}

li {
  margin-top: 4px;
}

.list {
  font-size: 22px;
  color: white;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* height: 100vh; */
  align-items: center;
  border: 1px solid #c0c0c0;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.pageTitle {
  text-align: center;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  color: white;
  border: 1px solid #c0c0c0;
  border-right: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
}

.row {
  display: flex;
  align-items: center;
  color: white;
}

.column {
  flex: 1;
}

.timers {
  list-style: none;
  padding: 0;
  width: 100%;
}

.columntimer {
  width: 85%;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #c0c0c0;
  padding: 8px;
}

.notTimers {
  color: white;
}

.timers li .column {
  display: flex;
  align-items: center;
  border: 1px solid #c0c0c0;
  padding: 8px;
}

.rubiks-cube {
}

.cube-face {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin: 2px;
}

.cube-row {
  display: flex;
}

.cube-cell {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.lateral {
  display: flex;
}

.up {
  margin-left: 90px;
}

.dow {
  margin-left: 90px;
}

.cube-section {
  width: 30%;
  height: 400px;
  align-self: end;
  margin-right: 100px;
  bottom: 10px;
  top: 0px;
  margin-bottom: 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  color: green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .left-sidebar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .timer-section {
    text-align: center;
    flex: 2;
    height: 300px;
  }

  .cube-section {
    width: 45%;
    height: auto;
    margin-top: 20px;
  }

  .cube-cell {
    width: 15px;
    height: 15px;
    margin: 2px;
  }
}
